%section#course-content
  %section#ruby
    %section.detailed-syllabus
      .wrapper-inside
        = form_for @registration, html: { class: "basic-grey" } do |f|
          - if @registration.errors.any?
            #error_explanation
              %h2
                = pluralize(@registration.errors.count, "error")
                prohibited this registration from being saved:
              %ul
                - @registration.errors.full_messages.each do |message|
                  %li= message
          .field
            = f.hidden_field :course_id, value: @registration.course.id
          .field
            = f.label :full_name
            = f.text_field :full_name
          .field
            = f.label :company
            = f.text_field :company
          .field
            = f.label :email
            = f.text_field :email
          .field
            = f.label :telephone
            = f.text_field :telephone

          #flash-messages

          = javascript_include_tag "https://js.stripe.com/v2/"
          :javascript
            Stripe.setPublishableKey('#{Rails.application.secrets.stripe_publishable_key}');

          = label_tag "Card Number", nil, required: true
          .control-group
            .controls
              = text_field_tag :card_number, nil, class: "input-block-level", data: {stripe: "number"}

          = label_tag "Card Verification", nil, required: true
          .control-group
            .controls
              = text_field_tag :card_verification, nil, class: "input-block-level", data: {stripe: "cvv"}

          = label_tag "Card Expires", nil, required: true
          = select_tag :exp_month, options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |name,i| ["#{i+1} - #{name}", i+1] }), include_blank: false, data: {stripe: "exp-month"}, class: "span2"
          = select_tag :exp_year, options_for_select((Date.today.year..(Date.today.year+10)).to_a), include_blank: false, data: {stripe: "exp-year"}, class: "span1"

          - unless @registration.course.plan.blank?
            .field
              = f.label :coupon
              = f.text_field :coupon

          .actions
            = f.submit "Registration Payment", class: "btn", style: "color: white;background: rgb(242, 118, 73);"
