.container
  %h1 Registration ticket
  - if notice
    %p#notice.alert.alert-success= notice
  %p
    %strong Course:
    = @registration.course.name
  %p
    %strong Full name:
    = @registration.full_name
  %p
    %strong Company:
    = @registration.company
  %p
    %strong Email:
    = @registration.email
  %p
    %strong Telephone:
    = @registration.telephone
  %p
    %strong Token:
    = @registration.card_token
  %p
    %strong Customer Token:
    = @registration.customer_id
  - unless @registration.end_date.blank?
    %p
      %strong Plan End date:
      = @registration.end_date
  = link_to 'Back', registrations_path, class: 'btn btn-primary'
