.container
  %p#notice.alert.alert-success= notice
  %p
    %strong Course:
    = @registration.course.name
  %p
    %strong Full name:
    = @registration.full_name
  %p
    %strong Company:
    = @registration.company
  %p
    %strong Email:
    = @registration.email
  %p
    %strong Telephone:
    = @registration.telephone
  %p
    %strong Token:
    = @registration.card_token
  = link_to 'Edit', edit_registration_path(@registration), class: 'btn btn-primary'
  = link_to 'Back', registrations_path, class: 'btn btn-primary'
